<h1>Places</h1>

<p><%= link_to "New Place", "/places/new", class: "btn btn-primary" %></p>

<ul>
  <% @places.each do |place| %>
    <li><%= link_to place.name, place_path(place), class: "text-decoration-none" %></li> <!-- ✅ Makes name clickable -->
  <% end %>
</ul>
