<h1>Places</h1>

<% @places.each do |place| %>
  <div class="card mb-3">
    <div class="card-body">
      <p><strong>Added by: <%= place.user.email %></strong></p> <!-- Show user -->
      <p><%= place.name %></p>
    </div>
  </div>
<% end %>
